@font-face {
  font-family: "TiemposHeadlineWeb";
  src: url('/assets/fonts/TiemposHeadlineWeb-Regular.woff2') format('woff2'),
       url('/assets/fonts/TiemposHeadlineWeb-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TiemposHeadlineWeb";
  src: url('/assets/fonts/TiemposHeadlineWeb-RegularItalic.woff2') format('woff2'),
       url('/assets/fonts/TiemposHeadlineWeb-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
