<h2 class="pb-3 text-2xl text-gray-200 font-headline font-normal">
  Newsletter
</h2>

<p class="pb-3">
  Join 2,000+ people following along as I build my next company.
</p>

<form id="opt-in-form" class="pb-4">
  <div class="pb-2 flex">
    <div class="mr-2 flex-grow">
      <input
        type="email"
        name="email"
        value=""
        class="h-12 px-4 w-full bg-gray-700 text-teal-300 focus:bg-gray-400 focus:text-teal-800 focus:outline-none selection-teal-400"
        required
      />
    </div>
    <div>
      <button
        type="submit"
        class="h-12 px-8 bg-teal-500 hover:bg-teal-600 active:bg-teal-600 text-teal-100 font-bold cursor-pointer focus:outline-none focus:shadow-outline"
      >
        Join now
      </button>
    </div>
  </div>

  <div data-sk-error="email" class="text-red-600 font-bold"></div>
</form>
